$header-color: white;

.App-header {
  background:linear-gradient(#3298DC, #3d95e3);
  transition: all 1s ease;
  .App-header-in {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 15px 0;

    .header-brand {
      span {
        color: $header-color;
        font-size: 2rem;
      }
      @media (max-width: 550px) {
        display: none;
      }
    }

    .header-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      a {
        position: relative;
        display: inline-block;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: $header-color;
        text-transform: uppercase;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        margin: 0 15px;
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          margin-left: 0;
        }
        &::after {
          z-index: 1;
          content: "";
          height: 3px;
          position: absolute;
          background-color: $header-color;
          left: 0;
          bottom: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: center;
          transition: all 0.5s ease;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
.App-header.header-dark {
  color: white;
  background: #89909f;
}
.App-header.header-light {
  background: white;
  transition: all 1s ease;
  .header-brand {
      span {
        color: black;
        font-size: 2rem;
      }
    }
  a {
    color: black !important;
    &::after {
        background-color: black !important;
    }
  }
}