@import url('../../default.style.scss');

.App-board {
    overflow: hidden;
    background: linear-gradient(#3d95e3, #578CF5);
    .App-board-in {
        padding: 100px 0 100px 0;
        color: white;
        text-align: center;
        h1 {
            margin-bottom: 30px;
            font-size:  2.5rem;
            font-weight: 300;
        }
        p {
            width: 70%;
            margin: 40px auto 80px auto;
            line-height: 1.7;
            letter-spacing: 0.3px;
            @media screen and (max-width: 769px){
                width: 95%;
            }
        }
        button {
            border: 3px solid white;
            border-radius: 10px;
            width: 300px;
            height: 50px;
            background-color: transparent;
            outline: none;
            transition: all 0.4s ease;
            span {
                color: white;
                font-size: 1.15rem;
                text-transform: uppercase;
            }
            &:hover{
                box-shadow: 0 15px 15px -5px rgba($color: #000, $alpha: 0.3);
                transform: translateY(-5px);
            }

        }
    }
}

.what-is-did,
.what-provide,
.video-demo,
.support-plantforms {
    // text-align: center;
    padding: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-nav {
    position: fixed;
    left: 50px;
    top: 120px;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
    @media screen and (max-width: 789px){
        display: none !important;
    }
    &.sidenav-show {
        animation: showSidenav 1s forwards;
        display: inline-block;
    }
    @keyframes showSidenav {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &:hover div p {
        opacity: 1;
        transition: all 0.5s ease;
        transform: translateX(0px);
    }
    div {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: black;
        margin: 15px 0;
        cursor: pointer;
        display: grid;
        place-items: center;
        p {
            position: absolute;
            opacity: 0;
            transition: all 1s ease 0.5s;
            display: inline-block;
            width: auto;
            left: 3rem;
            transform: translateX(-200px);
            
            a {
                white-space:nowrap;
                font-size: 14px;
                color: black;
                word-spacing: -0.3px;
                text-decoration: none;

            }
        }
    }
    &::after {
        z-index: -1;
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 1px;
        background-color: black;
        top: 0;
        left: 50%;
    }
}


.section-title {
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.5px;
    display: inline-block;
    &::after,
    &::before {
        position: absolute;
        z-index: 1;
        background-color: black;
        content: "";
        width: 80px;
        height: 1px;
        top: 50%;
    }
    &::before {
        left: -120px;
    }
    &::after {
        right: -120px;
    }
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

