@import url('./default.style.scss');


.App {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}


.App-footer {
  padding: 60px 0;
  height: 380px;
  background-color: #2B2B2B;
  display: flex;
  flex-wrap: wrap;
  color: white;
  & > * {
    text-align: center;
    flex: 1;
  }
  .left {
  }
  .mid {
    flex: 1;
    
  }
  .right {
    flex: 1;

  }
}